body {
    font-family: sans-serif;
}

.AllTodoLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    /*
    border: 1px solid #f00;
    border-radius: 0.6em;
    */
    margin-top: 1em;
}

.CardGroupContainer {
    flex-grow: 1;
    /*
    border: 1px solid #070;
    border-radius: 0.6em;
    */
}
.CardGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*
    border: 1px solid #00f;
    border-radius: 0.6em;
    */
}

.TodoCard, .EditTodoForm {
    border: 1px solid #eee;
    border-radius: 0.6em;
    padding: 0.6em;
    margin: 0.2em;
    background-color: #f7f7f7;
}

.EditTodoForm {
    display: flex;
    flex-direction: column;
}

.TodoCard button {
    border: 1px solid #aaa;
    background-color: #f0f0f0;
    border-radius: 4px;
}
.TodoCard .Id { font-size: 0.6em; color: #777; }
.TodoCard .Description { margin: 1em 0.5em; }
.TodoCard .Status { color: blue; }
.TodoCard .DeleteBtn { background-color: #ffcccc; }
.TodoCard .AdvanceBtn { background-color: #ccccff; }

