body {
    font-family: sans-serif;
}

.AllTodoLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    /*
    border: 1px solid #f00;
    border-radius: 0.6em;
    */
    margin-top: 1em;
}

.CardGroupContainer {
    flex-grow: 1;
    /*
    border: 1px solid #070;
    border-radius: 0.6em;
    */
}
.CardGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*
    border: 1px solid #00f;
    border-radius: 0.6em;
    */
}

.TodoCard, .AddTodo, .EditTodoForm {
    border: 1px solid #eee;
    border-radius: 0.6em;
    padding: 0.6em;
    margin: 0.2em;
    background-color: #f7f7f7;
}

.EditTodoForm {
    display: flex;
    flex-direction: column;
}